.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #030452;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    background-color: #ffffff;
    width: 95%;
    max-width: 600px; /* Specify width */
    opacity: 1;
  }

  .invisiCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: -10px !important;
    margin-top: -5px !important;
    /* border-radius: px; */
    margin: 20px auto;
    width: 95%;
    max-width: 600px; /* Specify width */
    opacity: 1;
    /* below for debugging */
    /* background-color: #000000; */
  }

  /* Overwrite h1 and h2 styles inside .invisiCard */
.invisiCard h3 {
    color: #fff; 
    font-size: 60px; 
  }
  
  .invisiCard p {
    color: #fff; 
    font-size: 20px; 
  }

  .content {
    flex: 1;
    margin-right: 20px;
  }
  
  .bullets {
    list-style-type: none;
    padding: 0;
  }
  
  .bullet {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
  }
  
  .bullet::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 2px;
    width: 18px;
    height: 18px;
    background-image: url('/assets/BW-bullet-arrow.svg'); /* Custom bullet */
    background-size: cover;
  }
  
  .button {
    background-image: url('/assets/More-detail-Colour.svg'); /* Custom button */
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 85px;
    height: 40px;
    cursor: pointer;
  }
  

      