.nameCard {
    position: relative;
    width: 270px; /* Adjust width based on your preference */
    height: 80px;
    margin: 0 auto; /* Center the card horizontally */
    padding-top: 30px; /* Add padding to make room for the image */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    z-index: 1;
    margin-top: 0px; /* Add some space from the top */
    /* opacity: 0; Initially hidden */
    animation: fadeIn 1.2s forwards ease-in-out; /* Add fade-in animation */
  }
  
  .name {
    margin-top: 0px;/*  Adds some space between the circle and the name */
    font-size: 34px;
    font-weight: bold;
    color: #333;
  }
  